:root{
    --theme-primary: rgb(245, 131, 55);
    --background-primary: rgb(0,0,0);
    --text-font: "Open Sans"; 
}
html, body {
    margin: 0px;
    font-family: var(--text-font);
}
*, *::before, *::after {
   box-sizing: border-box; 
}
button {
    font-family: var(--text-font);
    font-size: 1rem;
    background: none;
}