.container{
    position: relative;
    width: 100%;
    height: 704px;
    padding: 32px 0;    

    & > div {
        position: relative;
        width: 100%;
        max-width: 1600px;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        gap: 32px;
        
        & > .text:first-child {
            text-align: start;
        }
        
        & > .text:last-child {
            text-align: end; 
        }    
    }
}
.text {
    height: inherit;
    width: min-content;
    flex: 0 0 40%;
    padding: 64px 0;

    & h1, & h2{
        font-family: var(--text-font-heavy);
        font-size: 100px;
        line-height: 110px;
        margin: 0;
    }
    & h2 {
        font-weight: 400;
    }
    & p {
        margin: 48px 16px;
    }
}
.content {
    position: relative;
    height: inherit;
    flex: 1 1 0;

    & > img {
        object-fit: cover;
    }

    & > iframe {
        width: 100%;
        height: 100%;
        border: 0 solid white;
        box-shadow: 0 2px 24px 4px rgba(0,0,0,0.1);
        border-radius: 8px;
    }
}
.mixed {
    position: relative;
    height: min-content;
    flex: 1 1 0;

    & > div:has(img) {
        position: relative;
        width: 100%;
        aspect-ratio: 16 / 9;

        & > img {
            object-fit: contain;
            margin-bottom: 16px;           
        }

    }

    & > * {
        width: 100%;
        text-align: center;    
        color: var(--text-color);
        text-decoration: none;
        display: block;
    }

    & h3 {
        font-family: var(--text-font-heavy);
        font-weight: 500;
        font-size: 50px;
        margin: 16px 0;
        transition: 
            transform 0.25s ease-out,
            text-shadow 0.2s ease-out;

        &:hover {
            transform: translateY(-2px);
            transition: 
                transform 0.1s ease-out,
                text-shadow 0.15s ease-in;
            text-shadow: 0 0 56px rgba(0,0,0,0.1);
        }
    }

    & > p {
        padding: 0 56px;
        margin-bottom: 12px;
    }

    & > small {
        font-size: 10.5pt;
        padding: 0 96px;
    }
}
.map {
    position: relative;
    width: 100%;
    height: 704px;
    padding: 32px 0;    

    & > div {
        position: relative;

        & > div:has(img) {
            position: relative;
            width: 100%;
            height: 500px;
        }

        & > a {
            position: absolute;
            width: 10px;
            height: 10px;
        } 
    }
}
.hero {
    position: relative;
    top: 0px;
    left: 0px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;     
}
.greeting {
    position: relative; 
    background: var(--theme-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;

    & > h1 {
        font-family: var(--text-font-heavy);
        font-size: 300px;
        font-weight: 600;
        line-height: 300px;
        margin-bottom: 0;
        margin-top: 190px;
    }

    & > small {
        margin-top: 4px;
        font-family: var(--text-font-heavy);
        font-size: var(--text-font-size);
        font-weight: 350;
    }

    & > p {
        font-size: var(--text-font-size);
        margin-top: 60px;
        padding: 0 10px;
        text-align: center
    }
}
.minibar {
    position: absolute;
    bottom: 0px;
    padding: 16px 24px 0;
    margin-bottom: 36px;
    display: flex;
    border-top: solid var(--background-primary) 1.5px;
    gap: 112px;

    & > a {
        color: var(--text-color);
        text-decoration: none;
        font-size: var(--text-font-size);
        font-weight: 500;
    }
}
.minisignin {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 4;
    height: 60px;
    background: var(--theme-secondary);
    display: flex;
    align-items: center;
    box-shadow: -4px -2px 16px 2px rgba(0,0,0, 0.075);

    & > button {
        height: inherit;
        width: max-content;
        display: flex;
        align-items: center;
        padding: 8px 18px;
        cursor: pointer;
        background: white;
    }

    & > a {
        background: var(--theme-primary);
        color: white;
        height: inherit;
        display: flex;
        align-items: center;
        padding: 10px 22px;
        text-decoration: none;
    }
}