.main {
    position: relative;
    width: 100%;
    height: min-content;
    background: var(--theme-primary);
    padding: 50px 375px 100px;
}
.top {
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.top > p {
    margin: 0;
}
.info {
    line-height: 28px;
    font-weight: 600;
}
.info > strong {
    font-weight: 450;
    font-size: 15.5pt;
    font-family: var(--text-font-heavy);
    line-height: 45px;
}
.tax {
    padding-top: 30px;
    width: 100%;
    max-width: 350px;
    text-align: center;
    justify-self: center;
}
.links {
    width: min-content;
    height: min-content;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-self:end;
    align-self: center;
    align-items: flex-end;
}
.links > a {
    width: min-content;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 650;
}
.disclaimer{
    width: 100%; 
    text-align: center;
    margin-top: 50px
}
.disclaimer > strong {
    font-weight: 400;
    display: block;
    font-family: var(--text-font-heavy);
    margin-bottom: 16px;
    font-size: 17pt;
}
.disclaimer > small {
    display: block;
    font-size: 10.5pt
}
